org: eduardorvieira
service: sls-ecommerce

provider:
    name: aws
    region: us-east-1
    runtime: nodejs20.x
    environment:
        PRODUCTS_TABLE: products
        ORDERS_TABLE: orders
        USERS_TABLE: users
        CARTS_TABLE: carts
        JWT_SECRET: ${env:JWT_SECRET, "dev-secret"}
    iamRoleStatements:
        - Effect: "Allow"
          Action:
              - dynamodb:PutItem
              - dynamodb:GetItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
              - dynamodb:Scan
              - dynamodb:Query
          Resource: "*"
    httpApi:
        cors: true
        authorizers:
            jwtAuthorizer:
                type: request
                functionName: authorizer
                identitySource:
                    - "$request.header.Authorization"
                resultTtlInSeconds: 0

functions:
    - ${file(resources/auth-lambda.yml)}
    - ${file(resources/user-lambda.yml)}
    - ${file(resources/product-lambda.yml)}
    - ${file(resources/cart-lambda.yml)}

resources:
    - ${file(resources/dynamodb-tables.yml)}
