org: eduardorvieira
service: sls-ecommerce

provider:
    name: aws
    region: us-east-1
    runtime: nodejs20.x
    environment:
        PRODUCTS_TABLE: products
        ORDERS_TABLE: orders
        USERS_TABLE: users
    iamRoleStatements:
        - Effect: "Allow"
          Action:
              - dynamodb:PutItem
              - dynamodb:GetItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
              - dynamodb:Scan
              - dynamodb:Query
          Resource: "*"
    httpApi:
        cors: true

functions:
    - ${file(resources/product-lambda.yml)}

resources:
    - ${file(resources/dynamodb-tables.yml)}
